@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-collection_iconx:before { content: "\e62b"; color:#FFC300; font-size: 24px; }

.icon-order_iconx:before { content: "\e62c"; color:#FFC300; font-size: 24px; }

.icon-more_iconx:before { content: "\e62d"; color:#FFC300; font-size: 24px; }

.icon-money_iconx:before { content: "\e62f"; color:#FFC300; font-size: 24px; }

.icon-ticket_iconx:before { content: "\e630"; color:#FFC300; font-size: 24px; }

.icon-setting_iconx:before { content: "\e631";  font-size: 24px; }

.icon-btn_left:before { content: "\e608"; }

.icon-btn_right:before { content: "\e609"; }

.icon-star_icon:before { content: "\e606"; }

.icon-zoom_icon:before { content: "\e604"; }

.icon-header_location:before { content: "\e60a"; }

.icon-close_icon:before { content: "\e60b"; }

@font-face {
  font-family: "MFShangHei-Regular";
  src: url("mfshanghei-regular.eot"); /* IE9 */
  src: url("mfshanghei-regular.eot") format("embedded-opentype"), /* IE6-IE8 */

  url("mfshanghei-regular.woff") format("woff"), /* chrome、firefox */
  url("mfshanghei-regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

  url("mfshanghei-regular.svg#mfshanghei-regular") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

.mf-shang-hei-regular {
font-family: "MFShangHei-Regular" !important;
}

@font-face {
  font-family: "numbers";
  src: url("numbers.eot"); /* IE9 */
  src: url("numbers.eot") format("embedded-opentype"), /* IE6-IE8 */

  url("numbers.woff") format("woff"), /* chrome、firefox */
  url("numbers.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

  url("numbers.svg") format("svg"); /*iOS 4.1-*/
  font-style: normal;
  font-weight: normal;
}

.numfont {
  font-family: "numbers" !important;
  letter-spacing: -0.5px;
}