.clearfix
    display inline-block
    &::after
        content ''
        display block
        height 0
        line-height 0
        clear both/*清除所有的脱离文档流*/
        visibility hidden/*不可见但会占位*/
    &::before
        content ''
        display block
        height 0
        line-height 0
        clear both/*清除所有的脱离文档流*/
        visibility hidden/*不可见但会占位*/
    
.df-jsb-ac
    display flex
    justify-content space-between
    align-items center
.df-jsc-ac
    display flex
    align-items center
    justify-content center
.ellipsis
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
.bg-prs
    background-position 50%
    background-repeat no-repeat
    background-size 100%
