.com-header
  background-color #fff
  box-shadow 0 2px 27px 0 rgba(0,0,0,.1)
.header-content
  width 1190px
  height 100%
  margin 0 auto
  

.header-title-module
  padding-top 28px
  padding-right 60px
  padding-bottom 40px
  height 54px
  box-sizing content-box
  vertical-align sub
  .header-title
    display inline-block
    img 
      width 126px
      height 46px
.header-search-module
  padding-top 28px

.poi-detail
  background-color #fff
  border 1px solid #e5e5e5
  box-shadow 0 5px 14px 0 rgba(0,0,0,0.1)
  border-radius 10px
@media screen and (max-width 1200px)
  .header-content
    width 960px 
  .header-title-module
    padding-right 40px
    min-width 200px